*.log

/backup-db/
/backups/

/cache/
/upgrade/
/ngg/
/uploads/
/gallery/
/updraft/
/mu-plugins/
/plugins/hello.php
.DS_Store
/plugins/kint-php-debugger
/plugins/google-analytics-for-wordpress
/plugins/pixel-caffeine
/plugins/sg-cachepress
/plugins/updraftplus
/wflogs

debug.log

